.filter_label {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.input {
  /* margin-top: 5px; */
  font-size: 22px;
  width: 300px;
}

.h3 {
  font-weight: 400;
  font-size: 22px;
}
